@import "tailwindcss";

@font-face {
    font-family: 'Welth Catritz';
    src: url('/fonts/Welth_Catritz_Regular.otf');
    font-weight: 600;
    font-display: swap;
}

:root {
    background-color: rgb(20, 20, 20);
    color: white;
    
}



.font-welth {
    font-family: 'Welth Catritz', sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
      background-color: rgb(255, 255, 255);
      color: rgb(20, 20, 20);
    }
  }