@font-face {
    font-family: 'Welth Catritz';
    src: url('fonts/Welth_Catritz_Regular.otf');
    font-weight: 600;
    font-display: swap;
}

.name {
    font-family: 'Welth Catritz', sans-serif;
}
