---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import FramerMotionWrapper from "../components/FramerMotionWrapper.astro";

// Cargar los datos de proyectos desde el JSON (más eficiente)
const response = await fetch(`${Astro.url.origin}/projects.json`);
const projects = await response.json();
---

<BaseLayout title="mg. - fullstack developer 🧑🏻‍💻" description="Mario Gomez U - Fullstack Developer based in Santiago, Chile">
	<FramerMotionWrapper>
		<main class="mt-16 mx-auto w-10/12 md:max-w-2xl min-h-[100dvh]">
			<header>
				<div data-delay="0">
					<h1 class="text-3xl font-bold font-welth">
						Mario Gomez U.
					</h1>
				</div>
				<div data-delay="0.2">
					<hr class="w-3/12 my-2">
				</div>
			</header>
			
			<div data-delay="0.4">
				<span class="text-pretty">
					Inspired by the constant evolution of technology, I am a Software Engineer based on Santiago de Chile who loves to learn new things and craft innovation-driven products and solutions. 
					<br class="pt-2">
					Currently working on a government institution as a Fullstack Dev Lead.
				</span>
			</div>
			
			<div data-delay="0.6">
				<section class="mt-12">
					<ul class="flex gap-3">
						<li class="mb-3">
							<a class="text-pretty opacity-65 hover:opacity-100" href="mailto:mralejandrogu@gmail.com">contact</a>
						</li>
						<li class="mb-3">
							<a class="text-pretty opacity-65 hover:opacity-100" href="https://www.instagram.com/defcxz">ig</a>
						</li>
					</ul>
				</section>
			</div>
			
			<section class="mt-12">
				<!-- sección de proyectos -->
				<div data-delay="0.8">
					<p class="mt-10 mb-3 text-pretty whitespace-pre-wrap">
						side projects
					</p>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
					{projects.map((project: any, index: number) => (
						<div data-delay={1.0 + (index * 0.1)}>
							<ProjectCard project={project} />
						</div>
					))}
				</div>
			</section>

			<div data-delay="2.0">
				<footer class="my-24">
					<img 
						src="/assets/logo.svg" 
						alt="logo"
						class="invert w-12 mx-auto"
						loading="lazy"
					>
				</footer>
			</div>
		</main>
	</FramerMotionWrapper>
</BaseLayout>
