---
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Mario Gomez U - Fullstack Developer" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/assets/logo.svg"/>
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <title>{title}</title>
</head>
<body class='selection:bg-gray-900 selection:text-gray-50 dark:selection:bg-gray-200 dark:selection:text-gray-900'>
  <slot />
</body>
</html>
